<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="         http://www.springframework.org/schema/beans          http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 配置service -->
    <bean id="employeeService" class="com.imen.wms.service.impl.EmployeeServiceImpl">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>

    <bean id="departmentService" class="com.imen.wms.service.impl.DepartmentServiceImpl">
        <property name="departmentDao" ref="departmentDao"/>
    </bean>

    <bean id="permissionService" class="com.imen.wms.service.impl.PermissionServiceImpl">
        <property name="permissionDao" ref="permissionDao"/>
    </bean>

    <bean id="roleService" class="com.imen.wms.service.impl.RoleServiceImpl">
        <property name="roleDao" ref="roleDao"/>
    </bean>

    <bean id="systemMenuService" class="com.imen.wms.service.impl.SystemMenuServiceImpl">
        <property name="systemMenuDao" ref="systemMenuDao"/>
    </bean>

    <bean id="brandService" class="com.imen.wms.service.impl.BrandServiceImpl">
        <property name="brandDao" ref="brandDao"/>
    </bean>
    <bean id="supplierService" class="com.imen.wms.service.impl.SupplierServiceImpl">
        <property name="supplierDao" ref="supplierDao"/>
    </bean>
    <bean id="productService" class="com.imen.wms.service.impl.ProductServiceImpl">
        <property name="productDao" ref="productDao"/>
    </bean>
    <bean id="orderBillService" class="com.imen.wms.service.impl.OrderBillServiceImpl">
        <property name="orderBillDao" ref="orderBillDao"/>
    </bean>
</beans>